@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --white: rgb(255, 255, 255);
    --off-white: rgb(240, 240, 240);
    --light-gray: rgb(220, 220, 220);
    --black: rgb(0, 0, 0);
    --royal-blue: rgb(80, 100, 255);
    --blue: rgb(0, 20, 255);
    --coral-red: rgb(255, 60, 60);
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
}

#root{
    min-height: 100vh;
}

button, select, input{
    cursor: pointer;
}